

/* ------------- */
/* General Styles */
/* ------------- */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333333;
    scroll-behavior: smooth; /* Enables smooth scrolling for navbar links */
}




/* ------------- */
/* Navbar */
/* ------------- */

.navbar {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #2b2f33;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .logo {
    float: left;
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(90deg, #00d2ff, #3a47d5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    float: left;
    list-style: none;
    margin: 6px;
    margin-left:50px;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-left: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.nav-links a:hover {
    color: #5ec4ff;
    border-bottom: 2px solid #5ec4ff;
}






/* ------------- */
/* Hero Section */
/* ------------- */

#hero {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#hero .highlight {
    color: #5ec4ff;
    font-weight: bold;
}



/* ------------- */
/* About Section */
/* ------------- */

#about {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    background-image: url('img/paper.png'); /* Background image */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#about .about-content {
    margin-left: 50%;
    padding: 20px;
    color: #000000;
}

#about h2, #about h3 {
    margin: 10px 0;
    text-align: left;
}
#about p #first {
    float:left;
}

/* Heart image right side about */

.floating-image {
    position: absolute;
    top: -30px;
    right: 20px;
}

.floating-image img {
    width: 90px;
    height: auto;
}

/* Pulse image left side about */

.pulse-image {
    position: absolute;
    top: 30px;
    left: 40px;
}

.pulse-image img {
    width: 400px;
    height: auto;
}




/* ------------- */
/* Footer */
/* ------------- */

footer {
    background-color: #6b0000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}
